@model BusTicket.Models.Entities.Guzergah

@{
    ViewData["Title"] = "Güzergah Detayları"; }

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Otobüs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.KalkisSehri)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.KalkisSehri)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.VarisSehri)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.VarisSehri)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GuzergahID" class="btn btn-warning">Düzenle</a> |
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>