@model IEnumerable<BusTicket.Models.Entities.Guzergah>

@{
    ViewData["Title"] = "Güzergah Yönetimi"; }

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Yeni Güzergah Ekle</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.KalkisSehri)</th>
        <th>@Html.DisplayNameFor(model => model.VarisSehri)</th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.KalkisSehri)</td>
            <td>@Html.DisplayFor(modelItem => item.VarisSehri)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GuzergahID" class="btn btn-sm btn-warning">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.GuzergahID" class="btn btn-sm btn-info">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.GuzergahID" class="btn btn-sm btn-danger">Sil</a>
            </td>
        </tr>
    }
    </tbody>
</table>