@model IEnumerable<BusTicket.Models.Entities.Otobus>

@{
    ViewData["Title"] = "Otobüs Yönetimi"; }

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Yeni Otobüs Ekle</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Plaka)</th>
        <th>@Html.DisplayNameFor(model => model.KoltukKapasitesi)</th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Plaka)</td>
            <td>@Html.DisplayFor(modelItem => item.KoltukKapasitesi)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OtobusID" class="btn btn-sm btn-warning">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.OtobusID" class="btn btn-sm btn-info">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.OtobusID" class="btn btn-sm btn-danger">Sil</a>
            </td>
        </tr>
    }
    </tbody>
</table>